@media (max-width:767px){
    .mobile--align--top-left {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    
    .mobile--align--top-center {
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }
    
    .mobile--align--top-right {
        align-items: flex-start;
        justify-content: flex-end;
        text-align: right;
    }
    
    .mobile--align--middle-left {
        align-items: center;
        justify-content: flex-start;
        text-align: left;
    }
    
    .mobile--align--middle-center {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .mobile--align--middle-right {
        align-items: center;
        justify-content: flex-end;
        text-align: right;
    }
    
    .mobile--align--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left;
    }
    
    .mobile--align--bottom-center {
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }
    
    .mobile--align--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
    }
}

@media (min-width:768px){
  #cloud_search_filters_root{
    display: none;
  }
}



/* CloudSearch filters in sidebar */

.cloud-search-filters-sidebar-container {
  display: flex;
  clear: both;
  /* width: 100%; */
}

#cloud_search_filters_sidebar {
  display: block;
  width: 250px;
  min-width: 250px;
  margin-right: 20px;
}

.cloud-search-filters-sidebar-container .cloud-search-filters-products {
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  #cloud_search_filters_sidebar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #cloud_search_filters_root .cloud-search-page-controls.cloud-search-page-controls--collection-page {
    display: none;
  }

  /* Uncomment the following if you're adding sidebar-mode filters on the search page too */
  /*
  #cloud_search_filters_root .cloud-search-page-controls.cloud-search-page-controls--search-page {
    display: none;
  }
  */
}

#cloud_search_filters_sidebar:empty::before {
  content: "Filters";
  display: block;
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 1.5;
}

#cloud_search_filters_sidebar:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  min-height: 650px;
  margin-left: -24px;
  background-image: linear-gradient(#dfe3e8, transparent 0), linear-gradient(#dfe3e8 28px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 28px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 28px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(#dfe3e8 18px, transparent 0), linear-gradient(transparent 100%, transparent 0);
  background-size: 100% 100%, 40% 28px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, 40% 28px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, 40% 28px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, calc(100% - 48px) 18px, 100% 100%;
  background-position: -150% 0, 24px 16px, 24px 56px, 24px 86px, 24px 116px, 24px 146px, 24px 196px, 24px 236px, 24px 266px, 24px 296px, 24px 326px, 24px 376px, 24px 416px, 24px 446px, 24px 476px, 24px 506px;
  background-repeat: no-repeat;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: cs-loading;
}

@keyframes cs-loading {
  0% {
    opacity: 0.45;
  }
  100% {
    opacity: 0.9;
  }
}


.new-hero-section .banner-link{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
}
.header__drawer .drawer__top__left .drawer__account{
  width: 100%;
  padding: 0;
  padding-left: 10px;
}
.header__drawer .drawer__top__left .drawer__account span{
  display: inline-block;
  width: 100%;
  margin-left: 5px;
}

.collection .collection__nav{
  display: none;
}
.collection-review-wrapper{
  display: none;
}
@media (max-width:767px){
  [data-section-type="collection"] .collection{
    margin-top: 0;
  }
  .collection .collection__content #cloud_search_filters_root{
    border: 1px solid var(--border);
    margin-bottom: 30px;
  }
  .collection .collection__content #cloud_search_filters_root .cloud-search-page-controls{
    margin: 0;
    padding-left: 10px;
  }
  .collection .product-grid-item .product__grid__info--under{
    padding-top: 0;
  }
  .collection-review-wrapper{
    display: block;
  }
  .collection .product__details_collection .atc-button-collection .btn-state-ready span:not(:first-child){
    display: none;
  }
  .collection-review-wrapper .product__grid__price{
    font-size: 16px;
  }
}