@media (max-width:767px){
    .mobile--align--top-left {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    
    .mobile--align--top-center {
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }
    
    .mobile--align--top-right {
        align-items: flex-start;
        justify-content: flex-end;
        text-align: right;
    }
    
    .mobile--align--middle-left {
        align-items: center;
        justify-content: flex-start;
        text-align: left;
    }
    
    .mobile--align--middle-center {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .mobile--align--middle-right {
        align-items: center;
        justify-content: flex-end;
        text-align: right;
    }
    
    .mobile--align--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left;
    }
    
    .mobile--align--bottom-center {
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }
    
    .mobile--align--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
    }
}
